/* Colors used, hex: 
#2b2c2b Jet,
#1e1e1e Eerie Black,
#502c2c Caput Mortuum,
#c9595b Indian Red,
#f49c70 Atomic Tangerine
#f2cab6 Peach (like white)*/

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2c2b;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style-type: none;
    background-color: #1e1e1e;
    /* background: linear-gradient(to left, #2b2c2b, #1e1e1e); */
    color: #c9595b;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    color: #c9595b;
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #c9595b;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f49c70;
}

.burger {
    display: none;
}

/* Login Modal Styles */

.login-button {
    background-color: #1e1e1e;
    color: #f49c70;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-button:hover {
    color: #c9595b;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #1e1e1e;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #c9595b;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    background-color: #1e1e1e;
    color: #f49c70;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: #1e1e1e;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Hero Section Styles */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2c2b;
    /* background-image: url(Images/DarkSunset2.jpg); */
    background-size: cover;
    background-position: center;
}

.hero-content {
    text-align: center;
    color: #f2cab6;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #f49c70;
    color: #2b2c2b;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.btn:hover {
    background-color: #1e1e1e;
    color: #f49c70;
}

/* About Section Styles */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: #f2cab6;
}